USE [master]
GO
/****** Object:  Database [P6_0320190016]    Script Date: 1/15/2021 12:59:51 AM ******/
CREATE DATABASE [P6_0320190016]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'P6_0320190016', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\P6_0320190016.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'P6_0320190016_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\P6_0320190016_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [P6_0320190016].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [P6_0320190016]
GO
/****** Object:  Table [dbo].[Mahasiswa]    Script Date: 1/15/2021 12:59:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mahasiswa](
	[nim] [varchar](10) NOT NULL,
	[nama] [varchar](50) NOT NULL,
	[alamat] [varchar](100) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[tgl_lahir] [date] NOT NULL,
 CONSTRAINT [PK_Mahasiswa] PRIMARY KEY CLUSTERED 
(
	[nim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Mahasiswa] ([nim], [nama], [alamat], [email], [tgl_lahir]) VALUES (N'0320200001', N'Amelia Watson', N'Britania Raya, Inggris', N'ameliawatson@hololive.en', CAST(N'2000-01-06' AS Date))
INSERT [dbo].[Mahasiswa] ([nim], [nama], [alamat], [email], [tgl_lahir]) VALUES (N'0320200002', N'Gawr Gura', N'Atlantis, Samudra Atlantik', N'gawrgura@hololive.en', CAST(N'1975-06-20' AS Date))
INSERT [dbo].[Mahasiswa] ([nim], [nama], [alamat], [email], [tgl_lahir]) VALUES (N'0320200003', N'Mori Callioe', N'Afterlife', N'moricalliope@hololive.en', CAST(N'1994-04-04' AS Date))
GO
USE [master]
GO
